.scrollInBody {
    animation: fadeInBody 0.8s ease-in-out forwards;
}

.scrollOutBody {
    animation: fadeOutBody 0.35s ease-in-out forwards;
}

@keyframes fadeInBody {
    0% {
        opacity: 0%; 
        transform: translateY(0px) scale(80%);
    }
    100% {
        opacity: 100%;
        transform: translateY(-600px) scale(100%);
    }
}

.dotdotdot {
    position: absolute;
    right: 24px;
    top: 30px;
    cursor: pointer;
    color: rgb(158, 158, 158);
    transition: 0.4s all ease-in-out;
    user-select: none;
    height: 30px;

    &:hover {
        color:rgb(64, 64, 64);
    }
}

.visible {
    display: inline-block;
}

.hidden {
    display: none;
}

.dotdotdot-dropdown {
    position: absolute;
    right: 24px;
    top: 60px;
    border: 1px solid #5296dd;
    border-radius: 4px;
    overflow: hidden;

    
    p {
        margin: 0 !important;
        margin-left: 6px !important;
        user-select: none;
        border: 0 !important;
    }


    .dotdotdot-dropdown-section {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        cursor: pointer;
        width: 100px;
        padding: 2px 10px;
        transition: 0.4s all ease-in-out;
        background-color: white;

        &:first-child {
            border-bottom: 1px solid #5296dd;
        }
        
        &:hover {
            background-color: #EFF7FF;
            color:rgb(78, 78, 78);
        }
    }
}

.audio-controls-container {
    margin-top: -40px;
    width: 50%;
    z-index: 999999;
}

.audio-controls {
    width: 100%;
}
audio::-webkit-media-controls{
    display: none;
}

@keyframes fadeOutBody {
    0% {
        opacity: 100%;
        transform: translateY(-600px) scale(100%);
    }
    100% {
        opacity: 0%; 
        transform: translateY(0px) scale(80%);
    }
}

.center-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bodyPost-container {
    display: flex;
    flex-direction: column;
    border: 1px solid #5296dd;
    margin-top: 50px;
    width: 85%;
    max-width: 1500px;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.subreddit-user {
    font-size: 0.8em;
    color: rgb(64, 64, 64);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.subreddit-text {
    position: relative;
    display: inline;
    overflow: hidden;
    border-bottom: 1px solid transparent;
    transition: 0.3s all ease-in-out;
    user-select: none;

    &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        transform: scaleX(0);
        background-color: black;
        transition: 0.3s all ease-in-out;
        
    }

    &:hover {
        cursor: pointer;
        overflow: hidden;
        color: #FF8717;

        &:before {
            transform: scaleX(100%);
            background-color: #FF8717
        }
    }
}

.bodyPost-header {
    position: relative;
    display: flex;
    align-items: center;
    padding: 12px;
    background-color: #EFF7FF;
    height: 50px;
    
    img {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        margin-right: 6px;
        transition: 0.4s all ease-in-out;

        &:hover {
            cursor: pointer;
            opacity: 0.85;
        }
    }
}

.bodyPost-body {
    padding: 12px;
    max-width: 1500px;
    max-height: 900px;
    object-fit: contain;
    background-color: white;
    overflow: scroll;

    .post-body-containers div p:first-child {
        margin-bottom: 1em;
        font-weight: 600;
        font-size: 1.4em;
        max-height: 250px;
        cursor: auto;
    }
}

.show-nsfw {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 12px 24px;
    background-color: #5296dd;
    cursor: pointer;
    color: white;
    user-select: none;
    overflow: hidden;

    &:before {
        content: '';
        position: absolute;
        width: 50px;
        height: 50px;
        left: -50px;
        top: 0;
        background-color: rgba(0, 0, 0, 0.2);
    }

    &:active {
        &:before {
            animation: nsfwclick 1s forwards ease-in-out;
        }
    }
}

@keyframes nsfwclick {
    0% {
        transform: scaleX(100%);
    }
    100% {
        transform: scaleX(840%);
    }
}

.over18 {
    width: 100%;
    height: 100%;
    background-color: white;
}

.bodyPost-footer {
    display: flex;
    height: 40px;
    align-items: center;
    padding: 12px;
    background-color: #EFF7FF;

    .bodyPost-footer-like-container {
        display: flex;
        align-items: center;
        width: 125px;
        justify-content: space-between;

        p {
            user-select: none;
        }
    }
}


// https://loading.io/css/
.lds-ring {
    display: inline-block;
    position: absolute;
    bottom: -130px;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #5296dd transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  