.scrollInBody {
    animation: fadeInBody 0.8s ease-in-out forwards;
}

.scrollOutBody {
    animation: fadeOutBody 0.35s ease-in-out forwards;
}


@keyframes fadeInBody {
    0% {
        opacity: 0%; 
        transform: translateY(0px) scale(80%);
    }
    100% {
        opacity: 100%;
        transform: translateY(-600px) scale(100%);
    }
}

@keyframes fadeOutBody {
    0% {
        opacity: 100%;
        transform: translateY(-600px) scale(100%);
    }
    100% {
        opacity: 0%; 
        transform: translateY(0px) scale(80%);
    }
}