@import "../abstract/variables.scss";

// Hamburger animation idea from: https://www.sliderrevolution.com/resources/css-hamburger-menu/
// Code for hamburger entirely written by me

#header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 75px;
    top: 0;
    background-color: $blue;
    z-index: 99999999;

    #header-search {
        font-size: 20px;
        width: 40%;
        height: 45px;
        background-color: $lblue;
        border-radius: 50px;
        padding: 0 24px;
        border: none;
        outline: none;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        animation: moveSearch1 0.8s ease-in-out forwards;
    }

    #header-search-button {
        position: absolute;
        width: 45px;
        height: 45px;
        border-radius: 100%;
        background-color: $dorange;
        right: 50%;
        animation: moveSearch1Ball 0.8s ease-in-out forwards;
        transition: 0.4s all ease-in-out;

        &:hover {
            background-color: $orange;

            #header-search-logo {
                filter: invert(0.9);
            }
        }
    }

    @keyframes moveSearch1Ball {
        0% {
            bottom: 50%;
            left: calc(50% + 19%);
            transform: translateY(50%);
        }
        100% {
            left: calc(50% + 19%);
            bottom: -25px;
        }
    }

    @keyframes moveSearch1 {
        0% {
            bottom: 50%;
            transform: translateY(50%) translateX(-50%);
        }
        100% {
            bottom: -25px;
            transform: translateX(-50%);
        }
    }

    &::after {
        content: "";
        position: fixed;
        top: 0px;
        width: 100%;
        height: 600px;
        background-color: $blue;
        z-index: -9999999;
        animation: scroll1 1s forwards ease-in-out;
    }

    #header-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 0 2em;

        #header-hamburger {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            width: 50px;
            height: 50px;
            cursor: pointer;
            
            &:hover {
                #header-hamburger-top {
                    transform: translate(0, 14px);
                }
                #header-hamburger-bot {
                    transform: translate(0, -14px);
                }
            }
        }
    }
    @keyframes scroll1 {
        0% {
            transform: translateY(-550px) skew(0, 0);
        }
        100% {
            transform: translateY(0) skew(0, -4deg);
        }
    }
}

#header-search-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25px;
    height: 25px;
    transition: 0.4s all ease-in-out;
    scale: 1.05;
    filter: brightness(0) invert(1);
}

#header-scroll {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 75px;
    background-color: $blue;
    z-index: 999;
    top: 0;
    
    #header-search {
        font-size: 20px;
        width: 40%;
        height: 45px;
        background-color: $lblue;
        border-radius: 50px;
        padding: 0 24px;
        border: none;
        outline: none;
        position: absolute;
        left: 50%;
        animation: moveSearch2 0.8s ease-in-out forwards;
    }

    #header-search-button {
        position: absolute;
        width: 45px;
        height: 45px;
        border-radius: 100%;
        background-color: $dorange;
        right: 50%;
        animation: moveSearch2Ball 0.8s ease-in-out forwards;
        
        &:hover {
            background-color: $orange;
        }
    }

    @keyframes moveSearch2Ball {
        0% {
            bottom: -25px;
            left: calc(50% + 19%);
        }
        100% {
            bottom: 50%;
            transform: translateY(50%);
            left: calc(50% + 19%);
        }
    }

    @keyframes moveSearch2 {
        0% {
            bottom: -25px;
            transform: translateX(-50%);
        }
        100% {
            bottom: 50%;
            transform: translateY(50%) translateX(-50%);
        }
    }

    &::after {
        content: "";
        width: 100%;
        height: 600px;
        background-color: $blue;
        position: fixed;
        top: 0px;
        z-index: -9999999;
        animation: scroll2 1s forwards ease-in-out;
    }

    #header-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 0 2em;
    }

    @keyframes scroll2 {
        0% {
            transform: translateY(0) skew(0, -4deg);
        }
        100% {
            transform: translateY(-550px) skew(0, 0);
        }
    }
}

#header-hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    
    &:hover {
        #header-hamburger-top {
            transform: translate(0, 14px);
        }
        #header-hamburger-bot {
            transform: translate(0, -14px);
        }
    }
}

#header-logo-container {
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    #header-logo {
        width: 100%;
    }
}

#header-hamburger-top {
    width: 50px;
    height: 4px;
    background-color: white;
    border-radius: 10px;
    transition: 0.5s all ease-in-out;
}
#header-hamburger-mid {
    width: 50px;
    height: 4px;
    background-color: white;
    border-radius: 10px;
    transition: 0.5s all ease-in-out;
    z-index: 1;
}
#header-hamburger-bot {
    width: 50px;
    height: 4px;
    background-color: white;
    border-radius: 10px;
    transition: 0.5s all ease-in-out;
}


#header-hamburger-click {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    animation: hamburgerClick 0.5s ease-in-out forwards;

    #header-hamburger-top {
        transform: translate(0, 14px) rotate(0);
    }
    #header-hamburger-mid {
        opacity: 0;
    }
    #header-hamburger-bot {
        transform: translate(0, -14px) rotate(0);
        animation: hamburgerClickBot 0.5s ease-in-out forwards;
    }
}
@keyframes hamburgerClick {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@keyframes hamburgerClickBot {
    0% {
        transform: translate(0, -14px) rotate(0deg);
    }
    100% {
        transform: translate(0, -14px) rotate(90deg);
    }
}