@import "../abstract/variables.scss";

.post-container {
    position: relative;
    background-color: $lightbg;
    width: 500px;
    height: 700px;
    border-radius: 24px;
    border: 1px solid $blue;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    
    .post-header {
        width: 100%;
        height: 10%;
        display: flex;
        align-items: center;
        background-color: #f0f0f5;

        img {
            margin-right: 6px;
            margin-left: 10px;
            transition: 0.4s all ease-in-out;
        }

        img:hover {
            cursor: pointer;
            opacity: 0.85;
        }

        div:first-child p {
            position: relative;
            display: inline;
            overflow: hidden;
            border-bottom: 1px solid transparent;
            transition: 0.3s all ease-in-out;
        }

        div div:first-child p{
            margin-bottom: 10px;
        }
    }

    .post-body {
        width: 100%;
        height: 90%;
        max-height: 563px;
        background-color: $white;

        p {
            margin: 12px 0 0 0;
            font-size: 1.2em;
            font-weight: 600;
            cursor: auto;
        }
    }

    .post-footer {
        display: flex;
        width: 100%;
        height: 10%;
        background-color: #f0f0f5;
        align-items: center;
        justify-content: space-between;

        p {
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: 500;
        }
    }
}

.post-body-containers {
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    max-height: 100%;
    width: 100%;
    height: 100%;
    min-height: 500px;

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
    }
}

.post-body-containers:hover {
    cursor: pointer;
}

.post-body-image-container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.post-body-image-title {
    margin: 0.3em 0 0.8em;
    font-size: 1.2em;
}

.post-header-icon {
    border-radius: 100%;
    width: 50px;
    height: 50px;
}

.post-body-image {
    width:100%;
    height:100%;
    object-fit: contain;
    overflow: hidden;
}

.thumbs {
    stroke: $blue;
    stroke-width: 2px;
    fill: rgba(0,0,0,0);
    overflow: visible;
    transition: all 0.5s ease-in-out;
}

.thumbsDown {
    margin-left: 6px;
    transform: rotate(180deg);
}

.thumbsUp {
    margin-right: 6px;
}

.thumbs:hover {
    cursor: pointer;
}

.thumbsUp:hover {
    fill: $lupvote !important;
    stroke: $lupvote !important;
}

.thumbsDown:hover {
    fill: $ldownvote !important;
    stroke: $ldownvote !important;
}

.thumbsDown:active {
    transform: rotate(180deg) scale(0.9);   
} 

.thumbsUp:active {
    transform: scale(0.9); 
}

.thumbsUpClick {
    animation: thumbsUpClick 0.6s forwards ease-in-out;
}

.thumbsDownClick {
    animation: thumbsDownClick 0.6s forwards ease-in-out;
}

.post-footer-like-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    margin-left: 3%;

    p {
        user-select: none;
    }
}

.post-body-hosted-video {
    height: 75%;
    width: auto;
    max-width: 100%;
    object-fit: contain;
    max-height: 700px;
}

.post-body-link-thumbnail {
    width: 100%;
    height: 100%;
}

.scrollIn {
    animation: fadeIn 0.5s ease-in-out forwards;
}

.scrollOut {
    animation: fadeOut 0.5s ease-in-out forwards;
}

@keyframes thumbsUpClick {
    0% {
        transform: rotate(0deg) scale(1);
        fill: $upvote;
        stroke: $upvote;
    }
    85% {
        transform: rotate(370deg) scale(1.1);
        fill: $upvote;
        stroke: $upvote;
    }
    100% {
        transform: rotate(360deg) scale(1);
        fill: $upvote;
        stroke: $upvote;
    }
}

@keyframes thumbsDownClick {
    0% {
        transform: rotate(180deg) scale(1);
        fill: $downvote;
        stroke: $downvote;
    }
    85% {
        transform: rotate(-550deg) scale(1.1);
        fill: $downvote;
        stroke: $downvote;
    }
    100% {
        transform: rotate(-540deg) scale(1);
        fill: $downvote;
        stroke: $downvote;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0%; 
        transform: translateY(-200px) scale(80%);
    }
    100% {
        opacity: 100%;
        transform: translateY(0) scale(100%);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 100%;
        transform: translateY(0) scale(100%);
    }
    100% {
        opacity: 0%;
        visibility: hidden;
        transform: translateY(-200px) scale(80%);
    }
}