// Color scheme
$orange:#FF8717;
$dorange: #FF4500;
$upvote: #FF8b60;
$neutral: #C6C6C6;
$downvote: #9494FF;
$lightbg: #EFF7FF;
$header: #CEE3F8;
$uitext: #336699;

$blue: #5296dd;
$lblue: #92bddf;
$gray: #d7d7d7;
$white: #ffffff;

// sources: https://www.reddit.com/r/RedesignHelp/comments/84c6bl/official_reddit_brand_hex_color_codes/, https://www.reddit.com/r/CasualCSS/comments/8b7trr/new_reddit_colors/